* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active {outline: none;}
  a:focus,a:active {outline: none;}
  nav,footer,header,aside {display: block;}
  html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea {font-family: inherit;}
  input::-ms-clear {display: none;}
  button {cursor: pointer;}
  button::-moz-focus-inner {padding: 0;border: 0;}
  a,a:visited {text-decoration: none;}
  a:hover {text-decoration: none;}
  ul li {list-style: none;}
  img {vertical-align: top;}
  h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

  .wrapper {
    min-height: 100%;
    display: flex; 
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1657px;
    margin: 0 auto;
}

body {
    height: 100%;
}

body._lock {
    overflow: hidden;
}

@font-face {
	font-family: 'Conv_CAMBRIAB-bold';
	src: url('../fonts/CAMBRIAB-bold.eot');
	src: local('☺'), url('fonts/CAMBRIAB-bold.woff') format('woff'), url('fonts/CAMBRIAB-bold.ttf') format('truetype'), url('fonts/CAMBRIAB-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_cambria-regular';
	src: url('../fonts/cambria-regular.eot');
	src: local('☺'), url('fonts/cambria-regular.woff') format('woff'), url('fonts/cambria-regular.ttf') format('truetype'), url('fonts/cambria-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_lucon';
	src: url('../fonts/lucon.eot');
	src: local('☺'), url('fonts/lucon.woff') format('woff'), url('fonts/lucon.ttf') format('truetype'), url('fonts/lucon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*............HEADER..............................................*/

.header {
    background-color: #D1CCC7;
    padding: 27px 0px 34px 0px;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 13px 0px;
}

.header__title {
    font-family: 'Conv_cambria-regular';
    font-style: normal;
    font-weight: normal;
    line-height: 56px;
    color: #000000;
    padding-right: 10px;
    font-size: calc(30px + 18 * (100vw / 1656));
}

@media (max-width: 767px) {
    .header__title {
        font-size: calc(30px + (18 + 18 * 0.7) * ((100vw - 320px) / 1656));
    }
}

.contacts-phone__body {
    display: flex;
    margin-bottom: 23px;
    align-items: center;
}

.phone__image img {
    margin-right: 6.21px;
}

.phone__number :hover {
    color: #873C3C;
}

.phone__number a {
    font-family: 'Conv_cambria-regular';
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    color: #000000;
    font-size: calc(21px + 7 * (100vw / 1656));

}

@media (max-width: 767px) {
    .phone__number a {
        font-size: calc(21px + (7 + 7 * 0.7) * ((100vw - 320px) / 1656));
    }
}

.contacts-mail__body {
    display: flex;
    align-items: center;
}

.mail__image img {
    margin-right: 12px;
}

.mail__text :hover {
    color: #873C3C;
}

.mail__text a {
    font-family: 'Conv_cambria-regular';
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    color: #000000;
    font-size: calc(21px + 7 * (100vw / 1656));
}


@media (max-width: 767px) {
    .mail__text a {
        font-size: calc(21px + (7 + 7 * 0.7) * ((100vw - 320px) / 1656));
    }
}

.header__line {
    margin-bottom: 23px;
}

.header__line img {
    min-width: 100%;
}

.nav__body {
     z-index: 2;
}

.menu__list {
    display: flex;
    justify-content: center;
}

.menu__list li {
    margin-right: 65px;
}

.menu__list :last-child {
    margin: 0;
}

.menu__list a {
   font-family: 'Conv_cambria-regular';
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 43px;
    color: #000000; 
    padding-bottom: 5px
}


.menu__list li :hover {
    color: #873C3C;
    border-bottom: 2px solid #873C3C;
    transition-property: color, border-bottom;
    transition-duration: 0.2s, 0s;
}

.menu__icon {
    display: none;
}

@media (max-width: 767px) {
    .menu__icon {
        z-index: 4;
        display: block;
        position: relative;
        width: 40px;
        height: 28px;
        cursor: pointer;
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    } 
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    } 

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 14%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: brown;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .nav__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e6dede;
        padding: 100px 50px 50px 50px;
        transition: all 0.3s ease 0s;
        overflow: auto;
        transform: translate(-100%, 0px);
    }

    .nav__body._active {
        transform: translate(0px, 0px);
    }

    .menu__list li {
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .menu__list {
        flex-direction: column;
        align-items: center;
    }
    .header__line {
        display: none;
    }
    .header__row {
        position: relative;
    }
    .menu__icon {
        position: absolute;
        top: 20px;
        right: 30px;
    }
}

/*............MAIN...................................*/

.evangel {
    padding: 10px 0px 0px 0px;
}

.evangel__body {
    margin-bottom: 30px;
}
.evangel__title {
    font-family: 'Conv_CAMBRIAB-bold';
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    color: #000000;
    text-align: center;
    margin-bottom: 29px;
    font-size: calc(51px + 13 * (100vw / 1656));
}

@media (max-width: 767px) {
    .evangel__title {
        font-size: calc(51px + (13 + 13 * 0.7) * ((100vw - 320px) / 1656));
    }
}

.evangel__image-line {
    display: flex;
    justify-content: center;
}


.evangel__image {
    background: #F2E9E9;
    border-radius: 30px;
    width: 506px;
    height: 350px;
    flex: 0 0 467px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evangel__image img {
    max-height: 319px;
}

.evangel__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.evangel__column {
    flex: 0 1 auto;
    margin-bottom: 58px;
}

.item__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 65px;
    color: #000000;
    margin-bottom: 23px;
    font-size: calc(29px + 19 * (100vw / 1656));
}

@media (max-width: 767px) {
    .item__title {
        font-size: calc(29px + (19 + 19 * 0.7) * ((100vw - 320px) / 1656));
    }
}


/*..........FOOTER................................*/

.footer {
    background-color: #C4C4C4;
    padding: 54px 0px 47px 0px;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__copyright {
    font-family: 'Conv_cambria-regular';
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    color: #000000;
    font-size: calc(21px + 7 * (100vw / 1656));
}

@media (max-width: 767px) {
    .footer__copyright {
        font-size: calc(21px + (7 + 7 * 0.7) * ((100vw - 320px) / 1656));
    }
}

.footer__contacts {
    display: flex;
}
.footer-phone__body {
    display: flex;
    align-items: center;
    margin-right:56px;

}
.phone__image img {
    margin-right: 6.21px;
}

.footer__phone :hover {
    color: #873C3C;
}

.footer__phone a {
    font-family: 'Conv_cambria-regular';
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    color: #000000;
    font-size: calc(21px + 7 * (100vw / 1656));
}

@media (max-width: 767px) {
    .footer__phone a {
        font-size: calc(21px + (7 + 7 * 0.7) * ((100vw - 320px) / 1656));
    }
}

.footer-mail__body {
    display: flex;
    align-items: center;
}
.mail__image img {
    margin-right: 16px;
}

.footer__mail :hover {
    color: #873C3C;
}

.footer__mail a {
    font-family: 'Conv_cambria-regular';
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    color: #000000;
    font-size: calc(21px + 7 * (100vw / 1656));
}

@media (max-width: 767px) {
    .footer__mail a {
        font-size: calc(21px + (7 + 7 * 0.7) * ((100vw - 320px) / 1656));
    }
}


/*......................MEDIA..........................................*/

@media (max-width: 1541px) {
    .evangel__row {
        padding: 0px 20px;
        justify-content: space-around;
    }

}

@media (max-width: 1360px) {

    .footer {
        padding: 20px;
    }
    .footer__row {
        flex-direction: column;
    }
    .footer__copyright {
        margin-bottom: 10px;
        text-align: center;
    }

}

@media (max-width: 1077px) {
    .evangel__row {
        padding: 0px 20px;
        justify-content: space-around;
    }

    .evangel__image {
        max-width: 400px;
        max-height: 267px;
    }

    .evangel__image img {
        max-width: 350px;
        max-height: 239px;
    }

    .item__title {
        margin-bottom: 0px;
    }

}

@media (max-width: 1116px) {

    .header__line {
        margin-bottom: 0px;
    }

    .menu {
        padding: 0px 5px;
    }

    .menu__list {
        justify-content: space-between;
    }

    .menu__list li {
        margin-right: 0px;

    }

}

@media (max-width: 1070px) {
    
    .header {
        padding: 10px 0px;
    }

    .header__row {
        flex-direction: column;
        justify-content: start;
    }

    .header__title {
        text-align: center;
        margin-bottom: 15px;
    }

    .contacts-phone__body {
        margin-bottom: 12px;
    }
}

@media (max-width: 933px) {

    .header__line {
        margin-bottom: 0px;
    }

    .menu {
        padding: 0px 5px;
    }

    .menu__list {
        justify-content: space-between;
    }

    .menu__list li a {
        font-size: 30px;
    }

}

@media (max-width: 873px) {

    .evangel__row {
        padding: 0px;
        justify-content: space-between;
    }
   
}

@media (max-width: 807px) {

    .evangel__body {
        margin-bottom: 10px;
    }

    .evangel__title {
        margin-bottom: 4px;
    }

    .evangel__row {
        padding: 0px;
        justify-content: center;
    }

    .evangel__column {
        margin-bottom: 19px;
    }

    .evangel__image {
        max-width: 420px;
        max-height: 267px;
    }

    .evangel__image img {
        max-width: 350px;
        max-height: 239px;
    }
   
}

@media (max-width: 767px) {

    .menu__list li a {
        font-size: 40px;
    }
    
    .menu__list li {
        text-align: center;
    }
}

@media (max-width:676px) {
    .footer__contacts {
        flex-direction: column;
    }
    .footer-phone__body {
        margin-bottom: 5px;
    }
}

@media (max-width: 555px) {
    .header__title {
        line-height: 46px;
    }
}

@media (max-width: 452px) {

    .evangel__column {
        margin-bottom: 10px;
    }

    .evangel__image {
        max-width: 380px;
        max-height: 267px;
    }

    .evangel__image img {
        max-width: 350px;
        max-height: 239px;
    }

}

@media (max-width: 394px) {

    .evangel__column {
        margin-bottom: 10px;
    }

    .evangel__image {
        max-width: 315px;
        max-height: 237px;
    }

    .evangel__image img {
        max-width: 300px;
        max-height: 220px;
    }

}